@keyframes slideIn{
    from {transform: translateX(120%);}
    to {transform: translateX(0);}
}

*{
    animation-name: slideIn;
    animation-duration: 2s;
}

body{
    background-image: linear-gradient(black, grey);
    color: white;
    font-family: cursive;
}

h1{
    display: inline;
}

a{
    margin-left: 75%;
    text-align: center;
    color: white;
    text-decoration: none;
}

img{
    width: 250px;
    display: block;
}
